@model FindYourFit.ViewModels.AddEventViewModel;
<body style="background-color:darkslategrey"></body>
<h1 class="text-light">Add Event</h1>
<h5 class="text-light">Create an upcoming event here for a physical meetup.</h5>
<br />
<hr />
<form asp-controller="Events" asp-action="Add" method="post">
    <div class="form-group">
        <label class="text-light" asp-for="Name">Event Name: </label>
        <input asp-for="Name" />
        <span class="text-light" asp-validation-for="Name"></span>
    </div>
    <br />
    <br />
    <div class="form-group; text-light">
        <label asp-for="Description">Description:    </label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <br />
    <br />
    <div class="form-group; text-light">
        <label asp-for="ContactEmail">Contact Email:  </label>
        <input asp-for="ContactEmail" />
    </div>
    <br />
    <br />
    <div class="form-group; text-light">
        <label asp-for="CategoryId">Related Category: </label>
        <select asp-for="CategoryId" asp-items="Model.Categories"></select>
    </div>
    <br />
    <input type="submit" value="Submit" />
</form>
