@model FindYourFit.ViewModels.AddServiceProviderViewModel;
<body style="background-color:darkslategrey"></body>
<h1 class="text-light">Add Service Provider</h1>

<form asp-controller="ServiceProviders" asp-action="Add" method="post">
    <div class="form-group">
        <label class="text-light" asp-for="Name"></label>
        <input asp-for="Name" />
        <span class="text-light" asp-validation-for="Name"></span>
    </div>
    <br />
    <div class="form-group; text-light">
        <label class="text-light" asp-for="Description"></label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <br />
    <div class="form-group; text-light">
        <label asp-for="ContactEmail">Contact Email</label>
        <input asp-for="ContactEmail" />
    </div>
    <br />
    <div class="form-group; text-light">
        <label class="text-light" asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" asp-items="Model.Categories"></select>
    </div>
    <br />
    <input type="submit" value="Submit" />
</form>

