@model FindYourFit.ViewModels.AddFitnessResourceViewModel;
<body style="background-color:darkslategrey"></body>
<h1 class="text-light">Add Fitness Resource</h1>
<h5 class="text-light">Create a new fitness resource. These are specific useful items, such as a supplement or an implement.</h5>
<br />
<hr />
<form asp-controller="FitnessResources" asp-action="Add" method="post">
    <div class="form-group">
        <label class="text-light" asp-for="Name"></label>
        <input asp-for="Name" />
        <span class="text-light" asp-validation-for="Name"></span>
    </div>
    <br />
    <div class="form-group">
        <label class="text-light" asp-for="Description"></label>
        <input asp-for="Description" />
        <span class="text-light" asp-validation-for="Description"></span>
    </div>
    <br />
    <div class="form-group">
        <label class="text-light" asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" asp-items="Model.Categories"></select>
    </div>
    <br />
    <input type="submit" value="Submit" />
</form>
