<h1>Delete Tag</h1>

<form method="post">
    @foreach (var evt in ViewBag.events)
    {
        <div class="form-group">
            <label>
                <span>@evt.Name</span>
                <input type="checkbox" name="FitnessResourceIds" value="@evt.Id" class="form-control">
            </label>
        </div>
    }

    <input type="submit" value="Delete Selected Events" class="btn btn-danger">

</form>
