@model FindYourFit.ViewModels.AddEventCategoryViewModel
<body style="background-color:darkslategrey"></body>
<h1 class="text-light">Add New Category</h1>
<br />
<form asp-controller="EventCategory" asp-action="Add" method="post">

    <div class="form-group">

        <label class="text-light" asp-for="Name"></label>

        <input asp-for="Name" />

        <span class="text-light" asp-validation-for="Name"></span>

    </div>

    <br />

    <input type="submit" value="Submit" />

</form>
