@model FindYourFit.ViewModels.AddEventCategoryViewModel
<body style="background-color:darkslategrey"></body>
<h1 class="text-light">Add New Category</h1>

<form asp-controller="FitnessResourceCategory" asp-action="ProcessCreateFitnessResourceCategoryForm" method="post">
    <div class="form-group; text-light">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <input type="submit" value="Add Category" />
</form>
