@{
    ViewData["Title"] = "About";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<h4>
    TODO: Polish this up a little; add different header tags and stuff. Think about site design 

FindYourFit was created and is operated by Adam Bailey and Colin Brock as their LaunchCode capstone project. 
As such, the site is a work-in-progress; so expect more features as development continues.

Our goal is to springboard connection between fitness-minded
individuals through an alternate social media platform. No monetization of data, no "fitness influencing"; just a place to find events and people who care about health and wellness.

Simply put, we believe in people over profiles.


Find your people who challenge you, find people to grow with - Find Your Fit.

</h4>

<p class="text-center">Use this page to detail your About section.</p>

<div class="text-center">
    <img  style="max-width:50%; height:auto" src="https://images.pexels.com/photos/1092878/pexels-photo-1092878.jpeg" alt="barbell">
</div>
