@{
    ViewData["Title"] = "About";
}
<h1 class="text-center; text-light">@ViewData["Title"]</h1>
<body style="background-color:darkslategrey"></body>
<p class="text-light" style="font-size:20px">

FindYourFit was created and is operated by Adam Bailey and Colin Brock as their LaunchCode capstone project. 
FindYourFit is still a work-in-progress; so expect more features as development continues.

Our goal is to springboard connection between fitness-minded
individuals through an alternate social media platform. 
<br />
No monetization of data, no internet showboating; just a place to find events and people who care about health and wellness.
<br />
<br />
</p>
<br />
<br />
<br />
<h4 class="text-light" style="text-align:center">
Find people who challenge you, find people to grow with - Find Your Fit.

</h4>

<div class="text-center">
    <img  style="max-width:50%; height:auto" src="https://images.pexels.com/photos/1092878/pexels-photo-1092878.jpeg" alt="barbell">
</div>
