@{
    ViewData["Title"] = "FAQ";
}
<body style="background-color:darkslategrey"></body>
<h1 class="text-center; text-light">@ViewData["Title"]</h1>


<ul class="text-center; text-light">
    <li><strong>How should I use this site?</strong></li>
    <li>For the time being, the site can be used as a repository for fitness resources and meetups. As we continue to expand, we'll start adding more community features.</li>
</ul>


<p class="text-center; text-light">This page will be expanded as we get more user feedback!</p>

<div class="text-center">
    <img  style="max-width:50%; height:auto" src="https://images.pexels.com/photos/8436587/pexels-photo-8436587.jpeg" alt="barbell">
</div>
