@{
    ViewData["Title"] = "FAQ";
}
<h1>@ViewData["Title"]</h1>


<ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?</li>
    <li>Nisi lacus sed viverra tellus in?</li>
    <li>Ultricies integer quis auctor elit sed vulputate mi sit?</li> 
    <li>Gravida cum sociis natoque penatibus?</li> 
    <li>Ut etiam sit amet nisl purus in mollis nunc?</li>
</ul>


<p>Use this page to detail your site's FAQ section.</p>
