@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:darkslategrey"></body>

<div class="text-left; text-light">
    <h1 class="display-3" style="font-weight:bolder; text-align:center">Your place to find your fit.</h1>
</div>
<br />
<div style="text-align:center">
    <img  style="max-width:45%; height:auto; padding:25px; text-align:center" src="https://images.pexels.com/photos/949131/pexels-photo-949131.jpeg" alt="barbell">
</div>
<br />
<div>
    <h5 class="text-light" style="text-align:center; font-weight:bold; padding:25px"> 
        FindYourFit is designed to foster a fitness lifestyle in local communities.
        <br />
        <br />
        Our goal is to connect people to quality resources and information.
        <br />
        <br />
        More importantly, we want to connect people who share common goals and interests with a focus 
        in physical activity and healthy lifestyle choices.
        <br />
        <br />
        It’s not about views or ads, it’s designed to focus on what matters most - 
        <br /><br /> People and Health. <br /><br />
        We want to give our communities and our people the tools to achieve more and to be better.
    </h5>
</div>
<br />
<div class="text-center">
    <br />
    <br />
    <hr/>
    <h1 class="display-6; text-light">Local Fitness Resources</h1>
    <hr/>
    <br />
    <br />
      <div class="row">
        <div class="col align-self-start">
          <ul>
              <li class="nav-item">
                    <a style="color:lightskyblue" href="https://www.google.com/maps/search/crossfit+63146/">Crossfit</a>
                </li>
                <li class="nav-item">
                    <a style="color:lightskyblue" href="https://duckduckgo.com/?q=health+clubs+63146">Health Clubs</a>
                </li>
                <li class="nav-item">
                    <a style="color:lightskyblue" href="https://duckduckgo.com/?q=massage+63146">Massage</a>
                </li>
          </ul>
        </div>
        <div class="col align-self-center">
          <ul>
              <li class="nav-item">
                    <a style="color:lightskyblue" href="https://duckduckgo.com/?q=personal+trainer+63146">Personal Trainers</a>
                </li>
                <li class="nav-item">
                    <a style="color:lightskyblue" href="https://duckduckgo.com/?q=physical+therapist+63146">Physical Therapists</a>
                </li>
                <li class="nav-item">
                    <a style="color:lightskyblue" href="https://duckduckgo.com/?q=pilates+63146">Pilates</a>
                </li>
          </ul>
        </div>
        <div class="col align-self-end">
          <ul>
              <li class="nav-item">
                    <a style="color:lightskyblue" href="https://duckduckgo.com/?q=run+clubs+63146">Run Clubs</a>
                </li>
                <li class="nav-item">
                    <a style="color:lightskyblue" href="https://duckduckgo.com/?q=supplement+store+63146">Supplement Stores</a>
                </li>
                <li class="nav-item">
                    <a style="color:lightskyblue" href="https://duckduckgo.com/?q=yoga+63146">Yoga</a>
                </li>
          </ul>
        </div>
      </div>
</div>
<hr/>
<div>
    <p style="text-align:center"><a style="color:lightskyblue" href="https://duckduckgo.com/?q=%2523findyourfitSTL">#findyourfitstl</a></p>
</div>
<hr />
<div>
    <footer>
        <p style="text-align:center"><a style="color:lightskyblue" href="mailto:admin@findyourfitstl.net">Contact Us</a></p>
    </footer>
    
</div>