@{
    ViewData["Title"] = "Privacy Policy";
}
<h1; text-light>@ViewData["Title"]</h1>
<body style="background-color:darkslategrey"></body>

<p class="text-light">Use this page to detail your site's Privacy Policy.</p>
