@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-light" style= "font-weight:bolder">@ViewData["Title"]</h1>
<body style="background-color:darkslategrey"></body>
<br />
<br />
<h3 class="text-light" style="text-align:center; font-weight:bolder">
    We will never sell your data.
<br />
<br />
</h3>
<h2 class=text-light style="text-align:center; font-weight:bolder">
    PERIOD. FULL STOP.
</h2>
<br />
<h3 class="text-light">
    We believe that your information is yours.  It is not ours to monetize. 
    <br />
    <br />
    We will use site analytics to determine how best to serve the needs of our members.
    <br />
    <br />
    For any additional concerns regarding privacy, don't hesitate to contact us using the link below.
</h3>
